 <div className="mainContainer">
      <div className="dataContainer">
        <div className="header">
        👋 Hey there!
        </div>

        <div className="bio">
          I am farza and I worked on self-driving cars so that's pretty cool right? Connect your Ethereum wallet and wave at me!
        </div>

        <button className="waveButton" (click)='wave()'>
          Wave at Me
        </button>
          <button *ngIf="!currentAccount" className="waveButton" (click)="connectWallet()">
            Connect Wallet
          </button>
      </div>
    </div>
